body{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh
}

*{
    font-family: "Google Sans", sans-serif;
}

h1{
    color: white;
}
.encabezado {
  padding: 20px;
  background: linear-gradient(
  135deg,
  #060101 0%,
  #120403 35%,
  #2a0703 65%,
  #5a1205 100%
);
  text-align: center;
}

#menu-span{
    font-family: 'Montserrat';
    color: rgb(255, 255, 255);
}

#menu-ejercicios{
    color: red;
}

main{
flex-grow: 1;
}
.ejercicios {
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.ejercicio{
    border: 1px solid #bbb;
    padding: 20px;
    border-radius: 9px;
    min-width: 220px;
    text-align: center;
    transition: all 0.3s ease;
}
.ejercicio:hover{
    scale: calc(1.04);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); 
}

.link-ejercicio{
    text-decoration: none;
    color: black;
}
.link-ejercicio:visited{
    color: black;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
}

.number {
    color: red;
}